<mat-drawer-container class="w-screen h-screen" autosize>
  <mat-drawer #drawer class="w-3/12" mode="over">
    <ng-container *ngFor="let item of arrUrlSidenav">
      <section class="p-4">
        <a
          mat-icon-button
          routerLinkActive="text-red-500"
          class="flex items-center gap-2"
          [routerLink]="[item.url]"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </a>
      </section>
    </ng-container>
    <section class="p-4">
      <button
        mat-icon-button
        class="flex items-center gap-2"
        (click)="loginSvc.logout()"
      >
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </section>
  </mat-drawer>
  <app-header (btnMenu)="drawer.toggle()"></app-header>
  <router-outlet></router-outlet>
</mat-drawer-container>
