.mat-card-primary {
  background-color: #ddf2fd; /* color de fondo de Tailwind para primary */
  color: #164863; /* color de texto de Tailwind para primary */
}

.mat-card-background {
  background-color: #ddf2fd; /* color de fondo de Tailwind para background */
}

.mat-card-secondary {
  background-color: #427d9d; /* color de fondo de Tailwind para secondary */
  color: #ffffff; /* color de texto de Tailwind para secondary */
}

.mat-card-accent {
  background-color: #9bbec8; /* color de fondo de Tailwind para accent */
  color: #000000; /* color de texto de Tailwind para accent */
}
