<section class="flex items-center justify-center min-h-screen">
  <mat-card
    class="max-w-3xl p-8 text-black rounded-lg shadow-lg mat-card-primary"
  >
    <div class="mb-6 text-5xl text-center">Financial Control💰</div>

    <div class="grid grid-cols-1 gap-6 mb-8 md:grid-cols-2 lg:grid-cols-3">
      <mat-card class="p-6 rounded-lg mat-card-background">
        <div class="mb-3 text-2xl">📊 Gastos Diarios</div>
        <p class="text-sm">
          Registra tus gastos diarios de manera fácil y rápida.
        </p>
      </mat-card>

      <mat-card class="p-6 rounded-lg mat-card-secondary">
        <div class="mb-3 text-2xl">🌐 Acceso en la Nube</div>
        <p class="text-sm">
          Accede a tus datos desde cualquier lugar con nuestra integración en la
          nube.
        </p>
      </mat-card>

      <mat-card class="p-6 rounded-lg mat-card-accent">
        <div class="mb-3 text-2xl">📈 Decisiones Informadas</div>
        <p class="text-sm">
          Controla tus ingresos, gastos y ahorros para tomar decisiones
          financieras informadas.
        </p>
      </mat-card>
    </div>
    <p class="text-center text-md">
      Explora cómo Financial Control puede ayudarte a construir una base
      financiera sólida. 🏦
    </p>
  </mat-card>
</section>
